nav {
    font-size: 15px;
    float: right;
    
}


.food-logo {
    float: left;
}


h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.header-nav {
    background-color: #E1D7C6;
    display: block;
    padding:10px;
    text-decoration: none;
    font-size: 20px;
    
}


.content1 {
    height: 400px;
    width: 750px;
    background-color: #D6CCC2;
    margin-top: 70px;
    float: left;
    clear: both;
    flex-direction: row;
    
}



.content1text {
    padding-left: 20px;
    padding-top: 20px;
    line-height: 30px;
    font-size: 22px;
}

.content1img {
    height: 400px;
    width: auto;
    float: right;
    clear: both;

}

.center-content {
    display: flex;
    align-items: center;

}

.content1imgrightcenter {
    display: flex;
    align-items: center;
}

li {
    display: inline;
    background-color: red;
    padding: 5px;
    background-color: #D5BDAF;
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color:#EDEDE9
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: solid;
    background-color: #D6CCC2;
    padding: 2px;
}

a:visited {
    text-decoration: none;
    color: #EDEDE9
}

body {
    background-color: #F8F4EA;
}

