nav {
    font-size: 15px;
    float: right;
    
}

ul {
    border-right: 1px solid black;
}

.food-logo {
    float: left;
}


h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.header-nav {
    display: inline;
    list-style-type: none;
    float: right;
    padding-inline: 5px;

}

.content1 {
    height: 400px;
    width: 750px;
    background-color: #D6CCC2;
    margin-top: 70px;
    float: left;
    clear: both;
    
}



.content1text {
    padding-left: 20px;
    padding-top: 20px;
    line-height: 30px;
    font-size: 22px;
}

.content1img {
    height: 400px;
    width: auto;
    float: right;
    clear: both;

}

.content1imgrightcenter {
    display: flex;
    align-items: center;
}