


.food-logo {
    float: left;
    padding-right: 5px;
}

.logo-text {
    padding-left: 5px;
}


h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.top-logo {
    display: flex;
    justify-content: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

nav {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.header-nav-border {
    display: flex;
    background-color: #58769e;
    justify-content: center;
    align-items: center;
}
.items {
    display: flex;
    width: auto;
    height: auto;
}

.content1 {
    height: 100%;
    width: 100%;
    background-color: #D6CCC2;
    flex-direction: column;
    border: 2px solid black;
    justify-content: center;

    
}

div.center-gallery {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-direction: column;
    flex-wrap: wrap
}

div.gallery {
    display: flex;
    float: left;
    width:100%;
    height:100%;

}



.content1text {
    display: flex;
    justify-content: center;
    line-height: 30px;
    font-size: 22px;
    width: 100%;
    height: 100%;

}

.content1text-paragraph {
    display: flex;
    justify-content: center;
}

.content1img {
    width: 100%;
    height: 100%;

}

.center-content {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    width: 100%;
    height: 300px;


}

.content1imgrightcenter {
    display: flex;
    align-items: center;
}

.content1img-img {
    display: flex;
    width: 100%;
    height: 100%
}

li {
    display: block;
    text-decoration: none;
    background-color: #58769e;
}


a:link {
    text-decoration: none;
    color:#EDEDE9
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: solid;
    background-color: #D6CCC2;

}

a:visited {
    text-decoration: none;
    color: #EDEDE9
}

body {
    background-color: #F8F4EA;
}

.content {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: space-around;
}

.gallery {
    display: inline-flex;
    flex-direction: column;
    flex-direction: row;
    margin: 5px;
    border: 3px solid black;
    width: 100%;
    height: 100%;
}



.footer-outside {
    height: 200px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerh1 {
    font-size: 50px;

}

.footertext {
    text-align: center;
    display: flex;
    
    
}

.partner-logo {
    display: inline-flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

.middle-content {
    display: flex;
    background-color:  #F8F4EA;
    height: auto;
    width: auto;
    justify-content: center;
    
}
.image-holder {
    padding: 10px;
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
}

.skills-png {
    width: auto;
    height: auto;
    justify-content: center;
}

.partners {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}



.bottom-logo {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:center;
    flex-direction: row;
}


.bottom {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    width: auto;
    height:auto;
}

.bottom-logo-text {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    flex-direction: row;
    padding-left: 5px;
}

.footer-inside {
    display: flex;
    justify-content: center;
}